.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
**/bin/
**/obj/
*.log
*.tmp
*.temp
*.swp
*.swn
*.DS_Store
Thumbs.db
appsettings.json
appsettings.*.json
*.nupkg
**/packages/
*.pidb
*.booproj
*.svd
_ReSharper*/
*.DotSettings.user
.idea/
*.sln.iml
